<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Stock Tracker</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <!--link href="jumbotron.css" rel="stylesheet"-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Stock Tracker</a>
	  <a class="navbar-brand" href="/about">About</a>
        </div>
	<div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" method='post' action='/search'>
            <div class="form-group">
              <input type="text" placeholder="Stock Ticker" class="form-control" name="searchkey" required>
            </div>
            <button type="submit" class="btn btn-success">Predict!</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Stock Tracker</h1>
        <p>This site is built as an informational tool for the stock market. Our model uses multiple regression and lots of data to attempt to predict trends in stocks and provide those recommendations to you. Just give us a stock ticker, and we'll give you a recommendation for buying or selling the stock in the next week. </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Search for Stock Tickers</h2>
          <p>Input your text here. We'll help you find a ticker, which you can input into the next field to get your buy or sell recommendation.</p>
	  <FORM method=GET action= https://www.google.com/finance target="_blank" >
		<INPUT TYPE=text name=q size=31 maxlength=255 value="" style="margin-bottom:1em">
		<INPUT id="button1" type=submit name=sa VALUE="Search for stocks">
	  </FORM>
        </div>
        <div class="col-md-4">
          <h2>Get your recommendation</h2>
          <p>Input your stock ticker here. We'll do all the math, and we'll tell you whether we think you should buy or sell the stock. Note: please be patient. All this fancy math that we have to do will take a few minutes. </p>
          <form method='post' action='/search'>
		<table style="margin-bottom:1em">
			<tr>
				<td style="width:15em">
					Insert Your Stock Symbol Here:
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" placeholder="Stock Symbol" name="searchkey" id="searchkey" required>
				</td>
			</tr>
		</table>
		<INPUT type="submit" value="Submit">
	</form>
       </div>
        <div class="col-md-4">
          <h2>Explore more</h2>
          <p>Search <a href="finance.google.com">Google Finance</a></p>
	  <p>Surf <a href="finance.yahoo.com">Yahoo Finance</a></p>
	  <p>See <a href="money.cnn.com/data/markets">CNN</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Wolf of Wall Olin 2014</p>
	<p>We are not responsible for money lost in the stock market. </p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>
